<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Taco Terry's - Design Your Taco</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/tacodance.gif}"/>
<form method="post" th:object="${design}">
  <div class="grid">
    <div th:if="${#fields.hasErrors()}">
      <span class="validationError">
        Please Correct the problems below
      </span>
    </div>
    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">
      Ingredient Error
    </span>
    <div class="ingredient-group" id="wrap">
      <h3>How do you want to wrap your taco (no blankets allowed)?</h3>
      <div th:each="ingredient : ${wrap}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <br/>
      </div>
    </div>
    <div class="ingredient-group" id="protein">
      <h3>Pick your protein</h3>
      <div th:each="ingredient : ${protein}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <br/>
      </div>
    </div>
    <div class="ingredient-group" id="cheese">
      <h3>What type of Cheese would you like?</h3>
      <div th:each="ingredient : ${cheese}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <br/>
      </div>
    </div>
    <div class="ingredient-group" id="veggies">
      <h3>What type of Veggies would you like?</h3>
      <div th:each="ingredient : ${veggies}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <br/>
      </div>
    </div>
    <div class="ingredient-group" id="sauce">
      <h3>What type of Sauce would you like?</h3>
      <div th:each="ingredient : ${sauce}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span>
        <br/>
      </div>
    </div>
    <div>
      <h3>Give your taco a name. (Bob is good)</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">
      Name Error
      </span>
      <br/>
      <button>MAKE MY TACO!!!</button>
    </div>
  </div>
</form>
</body>
</html>